<!--Navbar-->
<div class="navbar-fixed" id="home">
<nav class="tl-navbar">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center animated flip"><img src="assets/images/logos/logo1.png" class="tl-logo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngFor="let navItem of navItems" class="animated rollIn"><a [attr.href]="navItem.link">{{navItem.name}}</a></li>
    </ul>
  </div>
</nav>
</div>
<!--End of Navbar-->
<!--Parallax-->

<main class="grey lighten-4">
  <!--Home-->
  <div class="parallax-container tl-parallex"  >
    <img src="assets/images/2.jpg" class="background-image">
  </div>
  <!--End of Home-->

  <!--Services-->
  <div class="parallax-container tl-parallex" id="services">
    <div class="service-container">
      <h3 class="center tl-parallex-heading">Our Services</h3>
      <p class="favourite-quote">"Customer may forgot what you said but they will never forgot how you made them feel."</p>
      <p class="quote-description">We provide end-to-end service in web and mobile application development. We also offer services in digital marketing, user interface, user experience, testing and server side development.</p>
    </div>

    <div class="container" style="margin-top:50px;">
      <div *ngFor="let app of ourServices">
        <h5 class="center tl-footer tl-skills-name z-depth-5">{{app.name}}</h5>
        <div class="row">
          <div class="col s12 m3 center" *ngFor="let type of app.type" style="padding:20px 30px;">
            <i class="tl-icon-size" [attr.class]="type.icon + ' tl-icon-size z-depth-5 '+ type.color"></i>
            <h6 id="name-style">{{type.name}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End of Services-->

  <!--Our Skills-->
  <div class="parallax-container tl-parallex" id="skills">
    <div class="service-container">
      <h3 class="center tl-parallex-heading">Our Skills</h3>
      <p class="favourite-quote">"Whatever you are, be a good one."</p>
      <p class="quote-description">Our Team member's are expert in various technology. We work on latest technology and keep ourself upto date with latest technology.</p>
    </div>

    <div class="container" style="margin-top:50px;">
      <div *ngFor="let skill of ourSkills">
        <h5 class="center tl-footer tl-skills-name z-depth-5">{{skill.name}}</h5>
        <div class="row">
          <div class="col s12 m3 center" *ngFor="let type of skill.type" style="padding:20px 30px;">
            <img [attr.src]="type.image" class="tl-skills-img z-depth-5">
            <h6 id="name-style">{{type.name}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End of Our Skills-->

  <!--A Team-->
  <div class="parallax-container tl-parallex" id="team">
    <div class="service-container">
      <h3 class="center tl-parallex-heading">A-TEAM</h3>
      <p class="favourite-quote">"Great things in business are never done by one person. They're done by a team of people."</p>
       <p class="quote-description">
      We at The Red Wheel, converting your digital problem into reality, we love to work hard for making your dream to live, all team members have a positive vision and rigth attitude to achieve the highest success. we are a professional team with problem solving skills and creative minds. Our Team Members are specialized in various technology. We people have advanced skills and rigth attitude to handle any situations.
    </p>
    </div>

    <div class="">
      <div class="row">
        <div class="col s12 m4" *ngFor="let member of teamMembers" style="margin-top:20px;">
          <div class="card grey lighten-4" style="max-width:300px; margin:auto; box-shadow:none">
            <p class="center " style="padding:10px 10px 0 10px;"> <img [attr.src]="member.image" style="width:100px; height:100px; border-radius:50%"> </p>
            <div class="card-content" style=" margin-top:-30px">
              <p class="card-title center">{{member.name}}</p>
              <h6 class="center" style="font-size: 15px;letter-spacing: 1px;color: #777; margin-bottom:20px;">{{member.position}}</h6>
              <p style="font-size:13px;text-align:justify">{{member.about}}</p>
            </div>
            <div class="card-action tl-card-action grey lighten-4">
              <div class="row">
                <div class="col s3 center"><a [attr.href]="member.fb" target="_blank"><i class="fa fa-facebook-official"></i></a></div>
                <div class="col s3 center"><a [attr.href]="member.instagram" target="_blank"><i class="fa fa-instagram"></i></a></div>
                <div class="col s3 center"><a [attr.href]="member.twitter" target="_blank"><i class="fa fa-twitter"></i></a></div>
                <div class="col s3 center"><a [attr.href]="member.linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--End of A Team-->

  <!--End of Parallax-->

</main>
<!--Footer-->
<footer class="page-footer tl-footer" id="contact">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h4 class="white-text">Get In Touch</h4>
        <p class="grey-text text-lighten-4">You can connent with us on social media.</p>
        <p>
          <a href="https://www.facebook.com/theredwheel/" target="_blank" class="tl-footer-social-icon"><i class="fa fa-facebook-official"></i></a>
          <a href="https://www.instagram.com/theredwheel/" target="_blank" class="tl-footer-social-icon"><i class="fa fa-instagram"></i></a>
          <a href="https://twitter.com/theredwheel" target="_blank" class="tl-footer-social-icon"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company-beta/13350194/" target="_blank" class="tl-footer-social-icon" target="_blank"><i class="fa fa-linkedin"></i></a>
        </p>
      </div>
      <div class="col s6">
        <h5 id="h5-style">CONTACT US</h5>
        <address class="white-text">
          4-C, 26 Shivalik Apartment, Indira Gandhi Nagar<br> Jagatpura, Jaipur, Rajasthan, Pin - 302015
          <br>Phone: <a id="a-tag" href= "tel:+918385821250">+918385821250</a> ,<a id="a-tag" href="tel:+919887770503">+919887770503</a>
          <br>Email: <a id="a-tag" href= "mailto:contact@theredwheel.com?Subject=Contact%20Form" target="_top">contact@theredwheel.com</a>
          <br>
        </address>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="background:#000; color:#fff">
    <div class="container center">
      © 2017 Copyright The Red Wheel
    </div>
  </div>
</footer>
<!--End of Footer-->
