.background-image{
    width: 100%;
    height: 581px;
}
.brand-logo{
    padding: 5px 10px 5px 15px;
}

nav .brand-logo.center {
    left: 0%;
}
.service-container{
    background-color: #474e5d; 
    color: #ffffff; 
    height:auto; 
    margin-top:64px;
    padding-bottom: 10px;
    padding-top: 10px;
    }

.tl-navbar{
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
}

.tl-logo{
    width:50px;
}

.tl-icon-size{
    font-size: 80px;
    padding: 20px; 
    width:125px; 
    height: 125px; 
    border: 2px solid grey; 
    border-radius:20%;
}

.tl-icon-android{
    color: #A4C639;
}
.tl-icon-hybrid{
    font-size: 30px;
}
.tl-skills-img{
    width: 125px;
    height: 125px;
    padding: 20px;
    border-radius: 20%;
    border: 2px solid grey;
}


.tl-parallex{
    height:auto; 
}
.tl-parallex-heading{
    letter-spacing:5px; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 10px;
}

.tl-skills-name{
    width: 300px;
    max-width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    color: #f2f2f2;
    border-radius: 50px 0;
}

.tl-card-action{
    padding: 10px 24px 0px 24px;
    height: 40px;
}
.tl-card-action i {
    font-size: 20px;
}

.tl-footer{
    background:#2f2f2f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tl-footer-social-icon{
    font-size: 45px;
    padding: 10px;
    color:#ffab40;
}
#h5-style{
    color: #fff;
    letter-spacing:3px; 
    border-bottom:1px double white; 
    padding-bottom:10px; 
    width:53%;
}
#name-style{
    font-size:20px; 
    font-family: monospace;
}
.favourite-quote{
    font-family: cursive;
    font-size: larger;
    text-align: center;
    padding: 5px;
}
.quote-description{
    font-family: -webkit-pictograph;
    font-size: large;
    padding:20px 75px;
    text-align: center;
}
#a-tag{
    color:lightgreen;
}
#a-tag:hover{
    color:lightblue;
}
@media screen and (max-width: 720px) {
   .tl-parallex-heading{
      font-size: 20px;
      letter-spacing: 5px;
    }
    .service-container{
        height:auto;
    }
    .background-image{
        height: 280px;
    }
    .brand-logo{
    padding: 5px;
    }
    nav .brand-logo.center {
    left: 45%;
    margin-top: -4px;
    height: 60px;
    margin-left: -10px;
    }
    .quote-description {
    padding: 10px 10px;
    }
}